{% extends 'common/base.html' %}
{% load static %}
{% block header %}
    <h1>Insurances</h1>
{% endblock %}

{% block content %}
    <section class="information">
        <section class="general-insurance">
            <nav>
                <div class="left">
                    <h3>General Insurances</h3>
                </div>
                <div class="middle">
                    <div class="insurance-container" id="civil">
                        <h2>
                            Civil liability insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="autocasco">
                        <h2>
                            Autocasco insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="property">
                        <h2>
                            Property insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="tourist">
                        <h2>
                            Tourist insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="accident">
                        <h2>
                            Accident insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="liability">
                        <h2>
                            Liability insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="cargo">
                        <h2>
                            Cargo insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="insurance-container" id="agricultural">
                        <h2>
                            Agricultural insurance
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    
                </div>
                <div class="right">
                    <ul>
                        <li id="g" class="insurance" data-info="civil">Civil liability insurance</li>
                        <li id="g" class="insurance" data-info="autocasco">Autocasco insurance</li>
                        <li id="g" class="insurance" data-info="property">Property insurance</li>
                        <li id="g" class="insurance" data-info="tourist">Tourist insurance</li>
                        <li id="g" class="insurance" data-info="accident">Accident insurance</li>
                        <li id="g" class="insurance" data-info="liability">Liability insurance</li>
                        <li id="g" class="insurance" data-info="cargo">Cargo insurance</li>
                        <li id="g" class="insurance" data-info="agricultural">Agricultural insurance</li>
                    </ul>
                </div>
            </nav>
        </section>

        <section class="health-inshurance">
            <nav>
                <div class="left">
                    <h3>Health Insurances</h3>
                </div>
                <div class="middle">
                    <div class="health-container" id="helth-one">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                    <div class="health-container">
                        <h2>
                            News header
                        </h2>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                            <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                            <button class="show-more">Show More</button>
                            <button class="show-less">Show Less</button>
                        </p>
                    </div>
                </div>
                <div class="right">
                    <ul>
                        <li id="h" class="insurance">Civil liability insurance</li>
                        <li id="h" class="insurance">Autocasco insurance</li>
                        <li id="h" class="insurance">Property insurance</li>
                        <li id="h" class="insurance">Tourist insurance</li>
                        <li id="h" class="insurance">Accident insurance</li>
                        <li id="h" class="insurance">Liability insurance</li>
                        <li id="h" class="insurance">Cargo insurance</li>
                        <li id="h" class="insurance">Agricultural insurance</li>
                    </ul>
                </div>
            </nav>
        </section>
    </section>
{% endblock %}
