{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    <h1>About Us</h1>
{% endblock %}
      
{% block content %}
    <h3>
        Your insurance broker is an arm's length away
    </h3>
        <div class="wrap-container">
            <div class="colum-left">
                <div class="info">
                    <div class="container">
                    <p>
                        "Heltnet Finance" AD is an insurance broker actively present on the insurance market since 2002. As an insurance intermediary, the company enjoys the trust of its clients, both natural and legal persons, and has established loyal partnership relations in the insurance market.<br>
                        By striving to be as fair and transparent as possible. <br> 
                        <div class="hiden-info"> 
                            <br>In compliance with the requirements of Article 325 of the Insurance Code, we provide you with the information that we consider important and essential for our professional and business relationship with all our clients - users of insurance services. 
                        <br>
                        <br>
                        1. As an insurance broker, the company operates under the company name "Heltnet Finance" AD, with its registered office and registered address in the town of. Its registered office and registered office is located at ul. 6 Verila Str., and the address for contacts, business development and business relations. Sofia, ul. The registered office of the company is located at 13, Beli Iskar Street. +3598924388562, e-mail: sofia@hnfbg.com, web page: www.hnfbg.com <br>
                            <br>2. Insurance broker "Heltnet Finance" AD is entered in the register under art. 30, par. 12 of the Financial Supervision Commission Act, for which it has been issued Certificate No. 63 - ZB / 2005. The registration and the current registration of the broker can be checked on the website of the Financial Supervision Commission www.fsc.bg , section "Registers and Reports", section "Electronic Register and File", register "Insurance Brokers". <br>
                            <br>3. "Helnnet Finance AD does not own directly or through related parties more than 10 percent of the votes in the general meeting or of the capital of an insurer. <br>
                            <br>4. An insurer, or the parent company of an insurer, does not own directly or through related parties shares or stakes representing more than 10 percent of the votes in the general meeting or of the capital of Heltnet Finance AD. <br>
                            <br>5. All complaints, remarks, comments and communications from our clients, users of insurance services and other interested persons against "Heltnet Finance" AD and its employees may be submitted in writing to the office at our contact and business address or by mail to the address indicated above in point 1, as well as to the e-mail address: sofia@hnfbg.com or hnf.sofia@gmail.com. <br>
                            The complaint shall be considered within one month of its receipt and Heltnet Finance AD shall send a written response to the questions and requests raised in it. Where further information and documents are required, this shall be communicated to the complainant in a timely manner. 
                            "Heltnet Finnas S.A. shall make all efforts necessary and within the Company's control to resolve any disputed issues and relationships by agreement and out of court, in the interest of both parties. <br>
                            <br>6. Any user of insurance services or interested person has the opportunity to file a complaint against the insurance broker "Heltnet Finance" JSC before the Financial Supervision Commission at. Sofia, p.k. 1000, ul. "16, Budapest, or to the electronic address of the Financial Supervision Authority: delovodstvo@fsc.bg, as well as to the Consumer Protection Commission (CPC) by filling in an electronic form on the CPC website www.kzp.bg or in person at the regional CPC centres in the country.<br>
                            <br>7. In carrying out the insurance intermediation "Helltnet Finance" AD represents a user of insurance services on the basis of an assignment contract. <br>Each client of Heltnet Finance AD has the right to instruct the insurance broker to prepare and provide advice based on a fair and personal analysis under Article 325a(5) of the Insurance Code. This may be done both at the initial underwriting and at the renewal of any insurance. In the absence of an assignment, the broker shall not give his advice pursuant to Article 325a(5) of the Insurance Code <br>
                            <br>8. "Heltnet Finance" AD may carry out insurance intermediation for insurers who are entitled to operate on the territory of the Republic of Bulgaria, including under the right of establishment and freedom to provide services, and the insurers are listed as follows:<br>
                            <button class="show-parners">Show Insurance companies</button>
                            <button class="hide-partners">Hide Insurance companies</button><br>
                            <nav class="partners">
                                <ul>
                                    <li>“ДЗИ Общо застраховане” ЕАД</li>
                                    <li>ЗК “Уника Живот” АД</li>
                                    <li>ЗЕАД “Булстрад Виена Иншурънс груп” ЕАД</li>
                                    <li>ОЗОФ “Доверие” ЗАД АД</li>
                                    <li>"Фи Хелт Застраховане" АД</li>
                                    <li>ЗД "Съгласие" АД</li>
                                    <li>ЗK "Аксиом" АД</li>
                                    <li>ЗК "България Иншурънс" АД</li>
                                    <li>"Булстрад живот Виена Иншурънс груп" ЕАД</li>
                                    <li>"ДЗИ Животозастраховане" ЕАД</li>
                                    <li>"АВП П&С С.А., клон България" КЧТ</li>
                                    <li>"Дженерали Застраховане" АД</li>
                                    <li>"ОЗК Застраховане" АД</li>
                                    <li>ЗАД "Армеец" АД</li>
                                    <li>"Групама Застраховане" ЕАД</li>
                                    <li>ЗК "Лев Инс" АД</li>
                                    <li>ЗК "Уника" АД</li>
                                    <li>ЗД "Бул Инс" АД</li>
                                    <li>ЗД "Евроинс" АД</li>
                                </ul>
                            </nav>
                            "Heltnet Finance AD has a contractual obligation to carry out insurance mediation exclusively for the above-mentioned insurers under the terms of Article 325, paragraph 2, item 2 of the Insurance Code.
                            <br>
                            9. For the performed insurance mediation, as a result of which an insurance contract has been concluded, "Heltnet Finance" AD receives a remuneration, which according to Art. 3 of the Insurance Code is included in the insurance premium and is payable by the insurer.<br>
                            10. In connection with an insurance contract, Heltnet Finance AD works for a commission fee, which is paid by the insurer, and in certain cases also for a fee, the amount, basis and method of payment of which are agreed in writing in an assignment agreement. 
                        </div>
                        <button class="show-more">Show more</button>
                        <button class="show-less">Show less</button>
                    </div>
                </div>
                
                <!-- <button class="calcolator-btn">Калкулиране на застраховка</button> -->
            </div>
            <div class="colum-right">
                <img 
                    src="{% static 'css/images/background-buisnes.png.png' %}"
                    alt="ilustration"
                    class="wrap-image"
                />
            </div>
        </div>

    <!-- Company contact info -->
       
<div class="contact-info">
    <div id="contact-detiles">
        <address>
            HealthNet Finance<br>
        13 Beli Iskar Street<br>
        Sofia, 1527<br>
        Phone: <a href="tel:+359892438562">+359892438562</a><br>
        Email: <a href="mailto:sofia@hnfbg.com">sofia@hnfbg.com</a>
        </address>
    </div>
</div> 
{% endblock %}
