{% extends 'common/base.html' %}
{% load static %}

{% block header %}
            <h1>Insurances</h1>
{% endblock %}

{% block content %}
    <h3>
        Alwyas be the first to know
    </h3>
    
    <section class="wraper">
            <div class="news-container">
                <h2>
                    News header
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                    <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                    <button class="show-more">Show More</button>
                    <button class="show-less">Show Less</button>
                </p>
            </div>
            <div class="news-container">
                <h2>
                    News header
                </h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus quasi mollitia itaque natus praesentium placeat nostrum, culpa, fuga amet expedita possimus hic, ad maiores fugiat deleniti quam sed ipsa quia?
                    <span class="hiden-info"> ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae quia quaerat beatae perferendis dolor, nostrum eveniet distinctio aliquid libero quis ipsam ipsum minima reprehenderit sunt nihil impedit dolorum voluptate.</span>
                    <button class="show-more">Show More</button>
                    <button class="show-less">Show Less</button>
                </p>
        </div>  
    </section>
{% endblock %}
